---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          <div style="display:flex; flex-wrap: wrap;">
            <div style="width: 50%; min-width: 20em;">
              {{ post.excerpt | truncatewords: 100}}
            </div>
          {%- if post.cover_photo_number -%}
            <div style="width: 50%;">
              <img src="{{post.image_urls[post.cover_photo_number]}}" />
            </div>
          {%- endif -%}
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
